<table class="table table-bordered">
  <thead>
    <tr>
      <th>Date of creation</th>
      <th>Title</th>
      <th>Author</th>
      <th>Points</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <%@news.each do |news|%>
      <tr>
        <td><%=news["created_at"].to_date.strftime("%d/%m/%Y")%></td>
        <td><%=news["title"]%></td>
        <td><%=news["author"]%></td>
        <td><%=news["points"]%></td>
        <td><%=news["url"]%></td> 
      </tr>
    <%end%>
  </tbody>
  <%= paginate @news%>
</table>